@media screen and (max-width:400px){

  .boite{
  	display: flex;
  }
}

@media screen and (min-width:2000px){
  p {
    max-width: 75ch;
  }
}

body{
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
