/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
    font-family: 'fondation';
    src: url('./font/fondation-bold-webfont.woff2') format('woff2'),
         url('./font/fondation-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'fondation';
    src: url('./font/fondation-light-webfont.woff2') format('woff2'),
         url('./font/fondation-light-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}


/*PAGE ACCUEIL*/

html{
  font-family: 'fondation';
  font-weight: bold;
  font-size: 16px;
	/*font-size: calc(10px + 1vw);*/
  box-sizing: border-box;
}

html *{
  box-sizing: border-box;
}

body{
  margin: 10px;
  padding: 10px;
  background-color: white;
  /*border: 2px solid;
  border-color:rgb(0, 24, 255);*/
}

img {
  max-width: 100%;
  height : auto;
}

p{
	line-height: normal;
}

.Header--title{
  text-align: left;
  font-size: 2em;
	margin-bottom: 5px;

	text-decoration: none;
}

h2{
	font-size: 1.5em;
	margin-top: 10px;
	margin-bottom: 20px;
}

h3{
	text-align: left;
	margin-top: px;
	margin-bottom: 25px;
}

.peace {
	font-size: 10em;
	padding-left: 30px;
	text-align: right;
	position: fixed;
	color: rgb(0, 0, 255);
}

.peace-img{
	width: 200;
}

.back{
	font-style: 0.5em;
	padding-left: 20px;
	padding-top: 50px;
	text-align: right;
	position: fixed;
	color: rgb(0, 0, 255);

}

.about{
	font-size: 1.5em;
	margin-left: 10px;
	color: rgb(0, 0, 255);
	position:
}


.fr-en{
text-align: right;
border-bottom: 0;
margin-bottom: 0;
}

.soulignage{
	color: rgb(0, 0, 255);
	text-decoration: underline;
	text-decoration-style: solid;
	font-style: normal;
	font-weight: bold;
}


/* PROJETS */

.boite{
	display: flex;
	margin-top: 7em;
	margin-left: 11em;
	margin-right: 1em;
}

.colonne figure, .colonne p{
	width: 100%;
	max-width: 100%;
}

.colonne figure {
	text-align: center;
}
.colonne{
	margin-right: 15px;
	margin-left: 15px;
}

.colonne:first-child{
	margin-left:0;
}

.colonne:last-child{
	margin-right:0;
}


p {
  font-family: 'fondation';
  font-weight: lighter;
  font-style: normal;
  text-align: left;
}

em {
font-style: italic;
font-weight: lighter;
}


figure {
  width: 42%;

}

footer  {
  max-width: 50%;
  height : auto;
  font-size: 0.6em;
	margin-top: 30px;
	text-align: left;
}

a{
  color: black;
  text-decoration:none;
}

a:hover
{
	color:rgb(0, 24, 255);
	font-style: italic;
}

a:hover{
	cursor: cell;
	color: red;
}

.projet-title {
	font-size: 1em;
	margin-top: 15px;
	margin-bottom: 40px;
	text-align: left;
}

.projet-image:hover{
	overflow: hidden;
}

.projet-image:hover img{
  filter:blur(3.5px);
}







/* PAGES PROJETS*/


.projet-title-page {
	line-height: 1.5;
}

.colonne-image-page figure,.colonne-image-page p{
	width: 100%;
	max-width: 100%;
	align-content: space-between;
	margin-bottom: 2em;
}

.colonne-texte-page figure, .colonne-image-page p{
	width: 100%;
	max-width: 100%;
	align-content: space-between;
	margin-bottom: 2em;
}

.colonne-image-page {
	width: 60%;
	margin-top: 1em;
	padding-right: 6em;
	padding-bottom: 3em;
	text-align: right;
}

.colonne-image-page img{
	max-height: 98vh; /* unités en % de hauteur de fenêtre */
}
.colonne-texte-page{
	width: 30%;
	margin-top: 1em;
	position: fixed;
	left:65%;
}

.link-girls{
	font-style: normal;
	text-decoration: underline;
}

/* PAGE CONTACT*/

.contact{
	font-weight: bold;
	font-size: 5.5em;
	text-align: left;
	margin-top: 0.5em;
	margin-left: 6em;
}

/* PAGE ABOUT */

.CV{
	margin-bottom: 20px;
	font-size: 2em;
	/*text-decoration: line-through;
	text-decoration-color: rgb(0, 24, 255);*/

}

.categories{
	font-size: 1.5em;
	margin-bottom: 10px;
}

.info{
	margin-top: 5px;
	margin-bottom: 3px;
}

.annees{
}

.lieux{
	font-style: italic;
	font-size: 0.8em;
	margin-bottom: 15px;
}

.banniere{
	font-size: 8em;
	text-align: center;
	margin-top: 200px;
	margin-bottom: 300px;
	color: rgb(0, 24, 255);
}
